@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.cus-scroll {
    &::-webkit-scrollbar {
    /* 스크롤바 전체 영역 */
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 */
    background: #ffffff44;
    border-radius: 10px;
    &:hover {
      background: #ffffff66;
    }
  }
  &::-webkit-scrollbar-track {
    /* 스크롤바 트랙 영역 */
    background: transparent;
  }
}